[Unit]
Description=定时执行节点体检平台容量保护

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
RandomizedDelaySec=8min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target

